@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* TO DO -- Add styles for light & dark modes */

:root {
	/* LIGHT THEME COLOURS */
	--vLightGrey: hsl(0, 0%, 98%);
	--vLightGreyishBlue: hsl(236, 33%, 92%);
	--lightGreyishBlue: hsl(233, 11%, 84%);
	--darkGreyishBlue: hsl(236, 9%, 61%);
	--vDarkGrayishBlue: hsl(235, 19%, 35%);

	/* DARK THEME COLOURS */
	--vDarkBlue: hsl(235, 21%, 11%);
	--vDarkDesaturatedBlue: hsl(235, 24%, 19%);
	--lightGrayishBlue: hsl(234, 39%, 85%);
	--lightGrayishBluehover: hsl(236, 33%, 92%);
	--darkGrayishBlue: hsl(234, 11%, 52%);
	--vDarkGrayishBlue: hsl(233, 14%, 35%);
	--vDarkGrayishBlue: hsl(237, 14%, 26%);
}

/* html {
	color-scheme: light dark;
}  */

body {
	margin: 0;
	font-family: Josefin Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	max-width: 800px;
	background-color: var(--vLightGreyishBlue);
}

.app {
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	background-color: transparent;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 25vh;
	background: url(../public/bg-mobile-light.jpg) no-repeat;
	background-size: cover;
}

.theme-toggle {
	background-color: transparent;
	color: white;
	margin: 2rem 2rem;
}

.title {
	margin: 2rem 2rem;
	color: var(--vLightGrey);
	font-weight: 700;
	font-size: 1.8rem;
	letter-spacing: 0.5em;
}

button {
	background-color: transparent;
	border: none;
	font-family: inherit;
}

form {
	display: flex;
	justify-content: space-between;
	background-color: var(--vLightGrey);
	padding: 0.5rem;
	border-radius: 5px;
	width: 80%;
}

#new-task-input {
	border: none;
	font-family: inherit;
	background-color: inherit;
}

.todos {
	margin: 1rem auto;
	background-color: var(--vLightGrey);
	width: 80%;
	border-radius: 5px;
}

.task-label-group {
	cursor: grab;
	color: var(--darkGrayishBlue);
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="checkbox"] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.checkbox {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #fff;
	border: 2px #ddd solid;
	margin-right: 4px;
	border-radius: 50%;
}

.checkbox--active {
	border-color: purple;
	background-color: purple;
	background: linear-gradient hsl(192, 100%, 67%);
}

.delete-btn {
	height: 18px;
	width: 18px;
}

li {
	list-style: none;
	border-bottom: solid 1px var(--darkGreyishBlue);
	padding: 0.5rem;
}

.items-left-clear {
	display: flex;
	justify-content: space-between;
	background-color: var(--vLightGrey);
	border-radius: 5px;
	padding: 0.5rem;
}

.items-left {
	font-size: 0.8rem;
}

.list-filters {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto 2rem auto;
	padding: 0.5rem;
	background-color: var(--vLightGrey);
	border-radius: 5px;
	width: 80%;
}

.btn,
.toggle-btn {
	color: var(--darkGreyishBlue);
}

.toggle-btn:hover {
	color: var(--vDarkDesaturatedBlue);
	cursor: pointer;
}

.dnd-instruction {
	font-weight: 400;
	color: var(--darkGreyishBlue);
	margin: 3rem;
	font-size: 0.75rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}
