@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* TO DO -- Add styles for light & dark modes */

:root {
	/* LIGHT THEME COLOURS */
	--bkg-primary: hsl(0, 0%, 98%);
	--bkg-secondary: hsl(236, 33%, 92%);
	--lightGreyishBlue: hsl(233, 11%, 84%);
	--txt-primary: hsl(236, 9%, 61%);
	--txt-secondary: hsl(235, 19%, 35%);
	--darkGrayishBlue: hsl(234, 11%, 52%);
	--lightGrayishBlue: hsl(234, 39%, 85%);

	--bkg-primary-drk: hsl(235, 21%, 11%);
	--bkg-secondary-drk: hsl(235, 24%, 19%);
	--lightGrayishBlue: hsl(234, 39%, 85%);
	--lightGrayishBluehover: hsl(236, 33%, 92%);
	--darkGrayishBlue: hsl(234, 11%, 52%);
	--secondary-drk-gblue: hsl(237, 14%, 26%);
}

.App {
	height: 200px;
	background: url(../public/bg-mobile-light.jpg) no-repeat;
	background-position: center center;
}

#dark {
	height: 200px;
	background: url(../public/bg-mobile-dark.jpg) no-repeat;
	background-position: center center;
	background-color: var(--bkg-primary-drk);
}

body {
	margin: 0;
	font-family: Josefin Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	background-color: var(--bkg-secondary);
}

.dark-body {
	background-color: var(--bkg-primary-drk);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	background-color: transparent;
	min-height: 100vmin;
	max-width: 480px;
	touch-action: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 480px;
}

.theme-toggle {
	background-color: transparent;
	color: var(--bkg-primary);
	margin: 2rem 2rem;
	font-size: 1.5rem;
}

.title {
	margin: 2rem 2rem;
	color: hsl(0, 0%, 98%);
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 0.5em;
}

button {
	background-color: transparent;
	border: none;
	font-family: inherit;
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

form {
	display: flex;
	justify-content: space-between;
	background-color: var(--bkg-primary);
	padding: 0.5rem;
	border-radius: 5px;
	width: 80%;
	height: 2.5rem;
}

#dark form {
	background-color: var(--bkg-secondary-drk);
}

#new-task-input {
	border: none;
	font-family: inherit;
	background-color: inherit;
	width: 100%;
}
#new-task-input:focus {
	outline: 0;
}

#dark #new-task-input {
	color: var(--txt-primary);
}

.todos {
	margin: 1rem auto;
	width: 80%;
	border-radius: 5px;
	background-color: var(--bkg-primary);
}

#dark .todos {
	background-color: var(--bkg-secondary-drk);
}

.task-label-group {
	cursor: grab;
	color: var(--txt-secondary);
	font-size: 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#dark .task-label-group {
	color: var(--txt-primary);
}

.checkbox-container {
	display: flex;
	align-items: center;
}

input[type="checkbox"] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.checkbox {
	height: 1.2rem;
	width: 1.2rem;
	background: var(--bkg-primary);
	border: 1px #ddd solid;
	border-radius: 50%;
	margin-right: 1em;
}

#dark .checkbox {
	background: var(--bkg-secondary-drk);
	border: 1px var(--secondary-drk-gblue) solid;
}

.checkbox--active {
	background: linear-gradient(to bottom right, #57ddff, #c058f3);
	height: 1.2rem;
	width: 1.2rem;
}

#dark .checkbox--active {
	background: linear-gradient(to bottom right, #57ddff, #c058f3);
	height: 1.2rem;
	width: 1.2rem;
}

del {
	color: var(--lightGrayishBlue);
}

#dark del {
	color: var(--txt-secondary);
}

.delete-btn {
	height: 18px;
	width: 18px;
}

li {
	list-style: none;
	border-bottom: solid 1px var(--bkg-secondary);
	padding: 0.7rem;
	height: 2.5rem;
}

#dark li {
	border-bottom: solid 1px var(--secondary-drk-gblue);
}

.items-left-clear {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bkg-primary);
	border-radius: 5px;
	padding: 0.5rem;
	height: 2.5rem;
	font-size: 0.75rem;
}

#dark .items-left-clear {
	background-color: var(--bkg-secondary-drk);
}

.items-left {
	color: var(--darkGrayishBlue);
}

#dark .items-left {
	color: var(--txt-secondary);
}

.list-filters {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto 2rem auto;
	padding: 0.5rem;
	background-color: var(--bkg-primary);
	border-radius: 5px;
	width: 80%;
	height: 2.5rem;
}

#dark .list-filters {
	background-color: var(--bkg-secondary-drk);
}

.btn,
.toggle-btn {
	color: var(--txt-primary);
	font-size: 0.75rem;
	font-weight: 700;
}

#dark .btn,
.toggle-btn {
	color: var(--txt-secondary);
}

.clear-completed-btn {
	font-weight: 400;
}

.toggle-btn:hover {
	color: hsl(215, 64%, 54%);
	cursor: pointer;
}

#dark .toggle-btn:hover {
	color: hsl(215, 64%, 54%);
	cursor: pointer;
}

.toggle-btn {
	color: var(--darkGrayishBlue);
}

.toggle-btn:focus {
	color: hsl(215, 64%, 54%);
	outline: 0;
}

#dark .toggle-btn:focus {
	color: hsl(215, 64%, 54%);
	outline: 0;
}

.dnd-instruction {
	font-weight: 400;
	color: var(--txt-primary);
	margin: 0 auto 3rem auto;
	font-size: 0.75rem;
}

#dark .dnd-instruction {
	color: var(--txt-secondary);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
#dark .attribution {
	color: var(--txt-secondary);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

/* LARGE MOBILE & SMALL TABLET STYLES */

@media screen and (min-width: 376px) {
	.App {
		background: url(../public/bg-desktop-light.jpg) no-repeat;
		background-position: 0 0;
		background-size: cover;
		height: 200px;
		width: 100vw;
	}

	#dark {
		background: url(../public/bg-desktop-dark.jpg) no-repeat;
		background-color: var(--bkg-primary-drk);
		background-position: 0 0;
		background-size: cover;
		height: 200px;
		width: 100vw;
	}
}

/* LARGE TABLETS */

@media screen and (min-width: 600px) {
	.theme-toggle,
	.checkbox {
		cursor: pointer;
	}

	.list-filters {
		margin: 0;
		padding: 0;
		width: 40%;
	}

	.clear-completed-btn {
		color: var(--darkGrayishBlue);
	}

	.dnd-instruction {
		margin: 2rem auto;
	}
}

/*	DESKTOP STYLES */

@media screen and (min-width: 768px) {
	.App {
		background: url(../public/bg-desktop-light.jpg) no-repeat;
		background-position: 0 0;
		background-size: cover;
		height: 15rem;
		width: 100vw;
	}

	#dark {
		background: url(../public/bg-desktop-dark.jpg) no-repeat;
		background-color: var(--bkg-primary-drk);
		background-position: 0 0;
		background-size: cover;
		height: 15rem;
		width: 100vw;
	}

	header {
		max-width: 550px;
		padding-top: 2rem;
	}

	.title {
		font-size: 2rem;
	}

	.wrapper {
		max-width: 600px;
		height: auto;
	}

	form,
	li {
		height: 3.5rem;
	}

	.task-label-group {
		font-size: 1rem;
		padding: 0.5rem;
	}

	.delete-btn:hover {
		cursor: pointer;
		display: block;
	}

	.toggle-btn:hover {
		color: hsl(215, 64%, 54%);
	}
	#dark .toggle-btn:hover {
		color: hsl(215, 64%, 54%);
	}

	.list-filters {
		margin: 0;
		padding: 0;
		width: 33%;
	}

	.dnd-instruction {
		margin: 2rem auto;
	}
}
